* {
    font-family: 'Orbitron', sans-serif;
}

body {
    margin: 0;
}



.cabezera {
    padding: .5%;
    background-color: black;
    display: flex;
    justify-content: space-between;

}

.contenedorLogo {
    margin-left: 1rem;
}

.logo {
    min-width: 5rem;
    max-width: 5rem;
    margin-top: .5rem;
    object-fit: cover;

}

h1 {
    color: #fff;
}

.datos {
    text-align: right;
    margin-right: 1rem;
    color: #fff;
}

.titulo {
    margin-left: 10rem;
}

.navegacion {
    display: flex;
    margin: auto;
    background-color: #1EE3D2;

}

.contenedor-nav {
    display: flex;
    list-style: none;
    margin: auto;
}

.contenedor-nav li a {
    color: black;
    text-decoration: none;
    padding: 2rem;
}

.contenedor-nav li :hover {
    background-color: #21D4FD;
}

.contenedor-tux {
    text-align: right;
    flex-grow: 1;
    margin-right: 2rem;
}

.tux {
    max-width: 4rem;
    margin: 0.5rem;
}

.inicio {
    padding-top: 1rem;
    background-color: #3BAEE7;
    align-content: center;
}

.acerca-mi {
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: space-around
}

.texto-mi {
    margin: 1.5rem;
    text-align: left;
    background-color: #fff;

}

.slider-mi {
    padding: 0;
    overflow: hidden;
}

h2,h3 {
    margin: 0;
    margin-left: 1rem;
    font-size: 3rem;
    color: #fff;

}

h4,h5,h6{
    background-color: #1EE3D2;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 2rem;
    color: black;
}

p {
    margin: 1rem;
}

.slider-mi ul li {
    width: 50rem;
    list-style: none;
}

.slider-mi ul {
    display: flex;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-mi img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.habilidades {
    background-color: #3B5258;
}

.item {
    display: flex;
    text-align: left;
    align-items: center;
    align-content: center;

}

.img-lenguaje {
    margin-left: 3rem;
    flex-grow: 1;
    width: 10rem;
    text-align: center;
    
}

.img-lenguaje img {
    width: 100%;
    object-fit: cover;

}

.texto-lenguaje {
    margin: 3rem;
    width: 100rem;
    background-color: #fff;
}

.cierre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    color: #fff;
    background-color: black;
}
.fa-brands{
    font-size: 2rem;
    color: #fff;
    margin: 1rem;
    
}


@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -106.5%;
    }

    45% {
        margin-left: -106.5%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -309%;
    }

    100% {
        margin-left: -309%;
    }
}